main {
  display: block;
  justify-content: flex-start !important;
}

form {
  gap: 0 !important;
}

.container-Bord {
  position: absolute;
  top: 133px;
  left: 285px;
}

.search-box {
  width: 229px;
  height: 50px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.search-boxBg {
  position: relative;
  display: flex;
}

.search-boxBg input {
  background-color: none;
  border: 0px solid;
  height: 30px;
  width: 260px;
}
.search-boxBg input:focus {
  outline: none;
}

.vector {
  border: 0.1px solid #d1d1d1;
  height: 30px;
}
.icon-magnifying {
  padding-left: 10px;
}

.button-task {
  position: relative;
  left: 250px;
  font-size: 22px;
  color: white;
  border: 1px solid #4589ff;
  border-radius: 10px;
  background-color: #4589ff;
  width: 140px;
  height: 50px;
  cursor: pointer;
}

.plus-Icon {
  height: 20px;

  border-radius: 7px;
  border: 2px solid #4589ff;
  padding: 1px;
}
.board-content {
  display: flex;
  width: 100%;
  padding-top: 45px;
  flex-wrap: wrap;
  gap: 5px;
}

.board-content h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #42526e;
  margin-right: 10px;
}

.card-status {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 30px;
}

.board-task {
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  padding: 5px;
  width: 170px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: 0.5px 0.5px 4px 0.5px transparent;
}

.board-Box {
  box-shadow: 0px 0px 8px 3px rgb(0 0 0 / 5%);
  height: 200px;
  width: 160px;
  border: 1px solid #d1d1d1;
  border-radius: 1em;
  background-color: #ffffff;
}

.d-none {
  display: none;
}
