.bord-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bord-search-container {
  position: absolute;
  top: 171px;
  left: 302px;
}

form {
  height: 50% !important;
  width: 50% !important;
}

.bord-search-container__input {
  background: transparent url(img/magnifying-icon.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  height: 51px;
  width: 251px;
  padding-right: 2em;
  padding-left: 21px;
}

.bord-search-container__input::placeholder {
  color: #d1d1d1;
}

.bord-search-container__button {
  text-align: center;
  font-size: 22px;
  color: white;
  border: 1px solid #4589ff;
  border-radius: 10px;
  background-color: #4589ff;
  width: 138px;
  height: 51px;
  cursor: pointer;
}

.bord-tasks {
  display: flex;
  position: absolute;
  top: 321px;
  left: 302px;
}

.bord-tasks-container {
  display: flex;
}

.bord-tasks-container__stage {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
