
:root {
--color-blue:#4589ff;
--color-lightblue:#d2e3ff;
--color-darkblue:#42526e;
--color-white:#ffffff;
--color-urgent:#ff3d00;
--color-medium:#ffa800;
--color-low:#7ae229;
--color-lightgrey:#d1d1d1;
--color-black:#000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* index.html */
.loading-page {
    background-color: var(--color-blue);
    height: 100vh;
    width: 100vw;
}

/* Login Page */
main {
    display: flex;
    flex-direction: column;
}

.loading-page > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ANCHOR Header*/
header{
    background-color:var(--color-blue);
    height: 97,3px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 20px 39px;
}
header div img{
    width: 47px;
    height:57,3px;
}

.login_logo_blue {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 100px;

}