/*ANCHOR CSS Properties */
:root {
  --color-blue: #4589ff;
  --color-lightblue: #d2e3ff;
  --color-darkgreyblue: #647188;
  --color-darkblue: #42526e;
  --color-white: #ffffff;
  --color-urgent: #ff3d00;
  --color-medium: #ffa800;
  --color-low: #7ae229;
  --color-lightgrey: #d1d1d1;
  --color-black: #000000;
  --color-pink: #fc71ff;
  --height: 97.3px;
}

.full-height-width {
  width: 100%;
  height: 100%;
}
.dflex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-none {
  display: none !important;
}
.shadow-black {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.outline-border-none {
  outline: none;
  border: none;
}
.activeNavItem {
  background-color: var(--color-lightblue);
  border-radius: 8px;
}

* {
  font-family: 'OpenSans-Regular';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* ANCHOR login style */
.button_blue {
  padding: 10px 35px;
  height: 48px;
  border-radius: 8px;
  background: var(--color-blue);
  color: var(--color-white);
  text-align: center;
  font-size: 23px;
  border: none;
  transition: background-color 225ms ease-in-out;
}

.button_clear {
  padding: 10px 35px;
  height: 48px;
  background: none;
  color: var(--color-black);
  text-align: center;
  font-size: 23px;
  border: 1px solid #647188;
  border-radius: 8px;
  transition: all 225ms ease-in-out;
  transition-property: color, border-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_blue:hover {
  background-color: #2b69d5;
  cursor: pointer;
}

.button_clear:hover {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  box-shadow: 1px 4px 15px -5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* index */
#loading-page {
  background-color: var(--color-blue);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  animation: clear-screen 1s ease-in forwards 225ms;
}

#loading-page img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 234px;
  animation: white-logo 1s ease-in forwards 225ms;
}

@keyframes clear-screen {
  100% {
    opacity: 0;
  }
}

@keyframes white-logo {
  100% {
    top: 80px;
    left: 80px;
    width: 100px;
  }
}

/* Login Page */
.login_main {
  display: flex;
  flex-direction: column;
}

#loading-page > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_logo_blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 234px;
  z-index: 2;
  animation: blue-logo 1s ease-in forwards 225ms;
}

@keyframes blue-logo {
  100% {
    top: 80px;
    left: 80px;
    width: 100px;
  }
}

.sign_up {
  display: flex;
  align-items: center;
  position: absolute;
  right: 86px;
  top: 67px;
}

.sign_up span {
  font-size: 23px;
  padding-right: 35px;
}

.login_screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  padding: 35px 115px;
  gap: 35px;
  width: 652px;
  height: 457px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login_form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login_form span {
  height: 82px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  border-bottom: 3px solid var(--color-blue);
  margin-top: -20px;
  margin-bottom: 35px;
}

.login_form form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.login_form input {
  width: 100%;
  height: 49px;
  border: 0;
  border-bottom: 1px solid var(--color-lightgrey);
  font-size: 19px;
  color: var(--color-lightgrey);
}

.login_form img {
  position: absolute;
  right: 21px;
  width: 20px;
}

.login_options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 19px;
}

.login_options input {
  margin-right: 20px;
  background: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-lightgrey) 100%
  );
  border: 2px solid var(--color-blue);
  border-radius: 3px;
}

.login_options a {
  color: var(--color-blue);
  text-decoration: none;
}

.login_buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.login_buttons a {
  text-decoration: none;
}

/* ANCHOR sign up template */
.blue_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-blue);
}

.static_logo_white {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 100px;
  transform: translate(-50%, -50%);
}

.back_arrow {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
}

.forgot_pw_header_span {
  font-size: 40px !important;
}

.instructions_span {
  font-weight: 400 !important;
  font-size: 20px !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* ANCHOR Header*/
header {
  position: relative;
  background-color: var(--color-blue);
  height: 97.3px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 39px;
  color: var(--color-white);
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

header div img {
  width: 47px;
  height: 57.3px;
}

.header-icon {
  height: 31px;
  width: 31px;
  margin-right: 13px;
  margin-left: 26px;
}

.user-icon {
  border: 3px solid var(--color-white);
  border-radius: 50%;
  width: 49px;
  height: 49px;
  margin-left: 13px;
}

/*ANCHOR Mainsection*/
main {
  position: relative;
  height: 90vh;
  width: 100vw;
  color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: var(--color-white);
  width: fit-content;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: var(--color-darkblue);
}

nav ul {
  width: 166px;
  height: 229px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

nav > ul li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
  width: 166px;
  height: 46px;
}

nav > ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: var(--color-darkblue);
}

nav ul li img {
  margin-right: 21px;
  width: 22px;
  height: 22px;
}

nav div {
  padding: 243px 0px 0px;
  gap: 15px;
  width: 186px;
  height: 289px;
}

.LegalNotice a {
  text-decoration: none;
  color: var(--color-darkblue);
}

.LegalNotice a:hover {
  cursor: pointer;
}

/* ANCHOR Summary.html */

/*Section*/
.content {
  position: relative;
  flex-direction: column;
  width: 100%;
}
/*First Line*/
.first-line {
  width: 100%;
  height: 77px;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
}

.first-line span:nth-child(2) {
  color: var(--color-blue);
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  font-family: 'Open Sans';
  margin-left: 8px;
}

/*Second Line*/
.second-line {
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin-top: 35px;
  gap: 9%;
}

#urgentTask-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 28px 48px;
  background-color: var(--color-blue);
  width: fit-content;
  height: 160px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 33px;
  line-height: 120%;
  color: var(--color-white);
  transition: 0.25s;
}

#urgentTask-container img {
  width: 76px;
  border: 3px solid var(--color-white);
  border-radius: 50%;
  margin-right: 21px;
}

#urgentTask-container .icons {
  font-size: 48px;
}

#urgentTask-container div {
  padding: 5px 10px 10px;
}

.taskdescription {
  font-size: 23px;
  line-height: 120%;
  font-weight: 400;
  margin-top: 13px;
}

.timestamp-container {
  padding: 23px;
  gap: 13px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--color-white);
  padding-left: 36px;
}

.ToDo-Container {
  background-color: var(--color-lightblue);

  border-radius: 30px;
  width: 190px;
  height: 160px;

  flex-direction: column;

  transition: 0.25s;
}

.ToDo-Container div img {
  width: 76px;
  height: 76px;
  margin-right: 20px;
  margin-bottom: 7px;
}

.ToDo-Container div > span {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-black);
}

.ToDo-Container > span {
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-blue);
}

/*Third Line*/
.third-line {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  gap: 40px;
  width: 100%;
  height: fit-content;
  margin-top: 35px;
}

.third-line div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 160px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: 0.25s;
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 40px 0;
}

.card span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  padding-top: 7px;
  text-align: center;
  color: var(--color-blue);
}

.cardhead {
  border: none;
  box-shadow: none !important;
  padding: 0;
}

.cardhead span {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-left: 20px;
  color: var(--color-black);
}

.card:hover {
  cursor: pointer;
  border-top-left-radius: 0;
  color: var(--color-white);
  background-color: var(--color-blue);
  scale: 1.1;
}

.third-line div:hover span {
  color: var(--color-white);
}

.third-line div:hover img {
  border: 3px solid var(--color-white);
  border-radius: 50%;
}

#urgentTask-container:hover,
.ToDo-Container:hover {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-blue);
  border-top-left-radius: 0;
  scale: 1.1;
}

/*ANCHOR Legal Notice*/
.content-LegalNotice {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  padding: 48px;
}

.content-LegalNotice h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  color: var(--color-blue);
  padding-bottom: 65px;
}

.content-LegalNotice h3 {
  font-weight: 700;
  font-size: 33px;
  line-height: 120%;
  color: var(--color-blue);
  padding-top: 35px;
  padding-bottom: 10px;
}

/*ANCHOR AddTask.html*/
.content-task {
  position: relative;
  flex-direction: row;
}

form {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.left-Container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding-left: 80px;
  padding-top: 20px;
}

.right-Container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  gap: 20px;
  padding: 40px;
  padding-right: 80px;
}

.input-title {
  border-bottom: 1px solid var(--color-lightgrey);
  padding: 10px 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: var(--color-lightgrey);
  width: 320px;
}

.blackTextColor {
  color: var(--color-black) !important;
}

h3 {
  color: var(--color-darkblue);
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  padding-bottom: 5px;
}

#subtask-input {
  border-bottom: 1px solid var(--color-lightgrey);
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  width: 320px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* ANCHOR Dorpdown Menu */
.dropdown {
  width: 320px;
  height: fit-content;
}
.dropdown input {
  cursor: pointer;
  border-bottom: 1px solid var(--color-lightgrey);
  width: 100%;
  height: 30px;
  padding: 20px 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-lightgrey);
}
.list {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.dropdown .list.active {
  display: flex;
}
.list div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  transition: all 0.25s ease-in-out;
}

.list div input {
  width: 12px;
}
.list div:hover {
  cursor: pointer;
  background-color: var(--color-blue);
  border-radius: 8px;
}
.textBox {
  background: transparent url(img/down_icon.png);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: center;
}
.selectedContacts {
  margin-top: 18px;
}
.selectedContacts span {
  background: linear-gradient(
    0.15turn,
    var(--color-medium),
    var(--color-white)
  );
  border-radius: 50%;
  padding: 9px 13px;
  text-align: center;
}
/* ANCHOR Datefield */
#date-input {
  border-bottom: 1px solid var(--color-lightgrey);
  background: transparent url(/img/calendar_icon.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 98% 25%;
  width: 320px;
  padding-bottom: 5px;
  -webkit-calendar-picker-indicator: none;
  -moz-calendar-picker-indicator: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: var(--color-lightgrey);
}
/* ANCHOR Category Select Dorpdown */
#department-input {
  background: transparent url(/img/down_icon.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 95%;
}
/* ANCHOR Priority Properites */
.priority-container {
  display: flex;
  gap: 10px;
}

.priority {
  border: 1px solid var(--color-lightgrey);
  padding: 8px 10px;
  border-radius: 8px;
  width: 100px;
  gap: 10px;
  cursor: pointer;
}

.priority img {
  width: 15px;
  height: 10px;
}

.priority:nth-child(1):hover {
  box-shadow: 0 2px 1px var(--color-urgent);
}

.priority:nth-child(2):hover {
  box-shadow: 0 2px 1px var(--color-medium);
}

.priority:nth-child(3):hover {
  box-shadow: 0 2px 1px var(--color-low);
}

.urgent {
  background-color: var(--color-urgent);
}
.medium {
  background-color: var(--color-medium);
}
.low {
  background-color: var(--color-low);
}
textarea {
  width: 320px;
  height: 80px;
  color: var(--color-lightgrey);
  padding: 10px;
  resize: none;
}

#subtask-input {
  background: transparent url(/img/plus_Icon.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 95%;
  color: var(--color-lightgrey);
}

.right-Container button {
  border-radius: 10px;
  padding: 10px 20px;
}

.right-Container button:nth-child(1) {
  background-color: transparent;
  border: 1px solid var(--color-lightgrey);
}

.right-Container button:nth-child(2) {
  background-color: var(--color-blue);
  border: none;
  color: var(--color-white);
}

.right-Container img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

.right-Container button:nth-child(1):hover {
  cursor: pointer;
  border: 1px solid var(--color-blue);
}

.right-Container button:nth-child(2):hover {
  cursor: pointer;
  background-color: #1769f7;
}

/* ANCHOR Board.html */

.section-board {
  position: absolute;
  left: 200px;
  width: 89vw;

  padding-top: 67px;
}

.bord-search-container {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  gap: 35px;
  margin-bottom: 45px;
  padding-left: 70px;
}

.bord-search-container input {
  background: url(./img/magnifying-icon.png);
  background-repeat: no-repeat;
  background-position: 95%;
  border-radius: 10px;
  border: 1px solid var(--color-lightgrey);
  height: 51px;
  width: 251px;
  padding-right: 2em;
  padding-left: 21px;
  outline: none;
}

.bord-search-container input::placeholder {
  color: var(--color-lightgrey);
}

.bord-search-container span {
  background-color: var(--color-blue);
  font-size: 22px;
  color: white;
  border-radius: 10px;
  width: 138px;
  height: 51px;
  cursor: pointer;
  margin: 0;
}
.bord-tasks {
  display: flex;
  gap: 80px;
  width: 100%;
  height: 70vh;
  padding-left: 67px;
}
.bord-tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  width: 250px;
}
.bord-tasks-container-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 30px;
  width: 100%;
  margin-bottom: 24px;
}
.bord-tasks-container-head span {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  color: var(--color-darkblue);
}

.bord-tasks-container-head img {
  border-radius: 10px;
  border: 2px solid var(--color-blue);
  height: 30px;
  padding: 3px 3px;
  cursor: pointer;
}

.bord-tasks-container-location {
  background-color: #fd71ff1e;
  overflow: auto;
  width: 250px;
  height: 100%;
  padding: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.bord-tasks-container-task {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  min-height: 205px;

  border-radius: 30px;
  padding: 18px 19px;
  cursor: pointer;
}

/* Tasks in Board */
.bord-task-cat {
  width: 89px;
  height: 27px;

  color: var(--color-white);
  background: var(--color-pink);
  border-radius: 8px;
  margin-bottom: 20px;
}
.bord-tasks-container-task h4 {
  font-weight: 700;
  color: var(--color-blue);
  margin-bottom: 10px;
}
.bord-task-desc {
  color: #a8a8a8;
  overflow-wrap: break-word;
  margin-bottom: 24px;
}
.sub-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.sub-chart {
  width: 135px;
  height: 8px;
  background: #f4f4f4;
  border-radius: 2px;
  margin-right: 20px;
}

.sub-progress span {
  width: 60px;
  height: 16px;
  font-size: 13px;
}

.bord-task-editor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
}
.bord-task-editor span {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 11px 10px;
  border-radius: 50%;
}

.bord-task-editor img {
  width: 19px;
  height: 16px;
}

/* ANCHOR contact.html */

.content-contact {
  position: relative;
  width: 100%;
  height: 89vh;
  display: flex;
}
/* Contactlist */
#contact-list {
  height: 100%;
  min-width: 453px;
  overflow-y: auto;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  padding: 20px 48px;
}

.listed-contact {
  width: 100%;
  display: flex;
  align-items: center;
}

.listed-contact img {
  width: 42px;
  height: 42px;
}
.listed-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  height: 77px;
}
.listed-contact-icon {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 1px solid #ffffff;
}
.listed-contact-info span:nth-child(2) {
  font-size: 16px;
  color: var(--color-blue);
}

.listed-contact:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 10px;
}
/* Contactinformations */
.contact-right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-informations {
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  padding-top: 73px;
  width: 100%;
}
.contact-btn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 64px;
  padding-right: 48px;
}

.contact-btn button,
.new-contact-buttons button:nth-child(2),
.button-clear {
  width: 197px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 10px;
  border: none;
  border-radius: 8px;
  background: var(--color-blue);
  color: var(--color-white);
  font-size: 23px;
  transition: background-color 225ms ease-in-out;
}
.contact-btn button:hover,
.new-contact-buttons button:nth-child(2):hover {
  background-color: #2b69d5;
  cursor: pointer;
}
/* New Contact Form */
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 49;
  background-color: var(--color-lightgrey);
  display: none;
}
#overlay.open {
  display: unset;
}
#new-contact {
  background-color: var(--color-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: 50;
  transition: width 0.3s ease-in-out;
  border-radius: 30px;
  border-top-left-radius: 0;
}
#new-contact.open {
  width: 580px;
}
#new-contact-content {
  display: none;
  opacity: 0;
  position: relative;
  transition: opacity 0.2s ease;
}

#new-contact-content.open {
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.content-header {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-header img:nth-child(1) {
  position: absolute;
  width: 21.65px;
  height: 21.65px;
  left: 541.31px;
  top: 21px;
  cursor: pointer;
}
.content-header img:nth-child(2) {
  width: 55.12px;
  height: 66.48px;
}

.content-header span:nth-of-type(1) {
  font-size: 48px;
  color: white;
}

.content-header span:nth-of-type(2) {
  font-size: 27px;
  color: white;
}

.new-contact-buttons button:nth-child(2) {
  justify-content: center;
}
.content-body {
  background-color: var(--color-white);
  height: 65vh;
  flex-direction: column;
}
.content-body img {
  margin-bottom: 35px;
}
.new-content-form {
  flex-direction: column;
  position: unset;
  bottom: unset;
  height: unset;
  width: unset;
  gap: unset;
}
.new-content-form input {
  width: 422px;
  height: 49px;
  border-bottom: 1px solid var(--color-lightgrey);
  padding: 13px 21px;
  margin-bottom: 49px;
}
#input-name {
  background-image: url(../img/add_c_perso.png);
  background-repeat: no-repeat;
  background-position: 95%;
}

#input-phone {
  background-image: url(../img/add_c_phone.png);
  background-repeat: no-repeat;
  background-position: 95%;
}

#input-email {
  background-image: url(../img/add_c_mail.png);
  background-repeat: no-repeat;
  background-position: 95%;
}
.new-contact-buttons {
  display: flex;
  gap: 25px;
}

.button-clear {
  width: fit-content;
  background-color: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-darkgreyblue);
  transition: all 225ms ease-in-out;
  transition-property: color, border-width;
}
.button-clear:hover {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  box-shadow: 1px 4px 15px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* ANCHOR Moveable Task for Contact.html, Board.html */
.newTask {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: var(--color-white);
  width: 400px;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: -3px 0px 5px var(--color-lightgrey);
}
.close-icon {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
}
.close-icon {
  cursor: pointer;
}
.board-contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-head {
  gap: 45px;
}
.form-head h3 {
  font-size: 28px;
  padding-left: 10px;
}
.form-head .AddButton {
  width: 170px;
  height: 51px;
  gap: 10px;
  padding: 10px 1px;
  border-radius: 10px;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 18px;
}
.form-head .AddButton:hover {
  background-color: #2b69d5;
  cursor: pointer;
}
.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  height: fit-content;
  padding-top: 20px;

  gap: 25px;
  padding-bottom: 200px;
}

.form-body textarea {
  padding: 0;
  color: var(--color-lightgrey);
}
