/*ANCHOR CSS Properties */
:root {
    --color-blue: #4589ff;
    --color-lightblue: #d2e3ff;
    --color-darkblue: #42526e;
    --color-white: #ffffff;
    --color-urgent: #ff3d00;
    --color-medium: #ffa800;
    --color-low: #7ae229;
    --color-lightgrey: #d1d1d1;
    --color-black: #000000;
    --height: 97.3px;
}

* {
    box-sizing: border-box;
    font-family: 'OpenSans-Regular';
    margin: 0;
    padding: 0;
}
.active{
    background-color: var(--color-lightblue);
    border-radius: 8px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    height: 100vh;
}

/* ANCHOR Header*/
header {
    position: relative;
    background-color: var(--color-blue);
    height: 97.3px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 39px;
    color: var(--color-white);
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header div img {
    width: 47px;
    height: 57.3px;
}

.header-icon {
   height: 31px;
    width: 31px;
    margin-right: 13px;
    margin-left: 26px;
}

.user-icon {
    border: 3px solid var(--color-white);
    border-radius: 50%;
    width: 49px;
    height: 49px;
    margin-left: 13px;
}
/*ANCHOR Mainsection*/
main {
    height:100%;
    width: 100%;
    color: var(--color-black);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/*ANCHOR Nabvar*/
nav {
   background-color: var(--color-white);
    width: fit-content;
    height: 100%;
    padding: 5px;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--color-darkblue);
    
}

nav ul {
    width: 166px;
    height: 229px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

nav>ul li {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    width: 166px;
    height: 46px;
}
nav>ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--color-darkblue);
}

nav ul li img {
    margin-right: 21px;
    width: 22px;
    height: 22px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 243px 0px 0px;
    gap: 15px;
    width: 186px;
    height: 289px;
}

.LegalNotice a{
    text-decoration: none;
    color: var(--color-darkblue);
}
.LegalNotice a:hover{
    cursor: pointer;
}

/*ANCHOR Section*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
width: 100%;
}
/*First Line*/
.first-line {
    width: 100%;
    height: 77px;
    font-size: 48px;
    line-height: 120%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items:center;
}

.first-line span:nth-child(2) {
    color: #4589ff;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    font-family: 'Open Sans';
    margin-left: 8px;
}
/*Second Line*/
.second-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 100%;
    height: fit-content;
    margin-top: 35px;
    gap: 9%;
}

#urgentTask-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 28px 48px;
    background-color: var(--color-blue);
    width: fit-content;
    height: 160px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    font-weight: 700;
    font-size: 33px;
    line-height: 120%;
    color: var(--color-white);
    transition: 0.25s;
}

#urgentTask-container img {
    width: 76px;
    border: 3px solid var(--color-white);
    border-radius: 50%;
    margin-right: 21px;
}

#urgentTask-container .icons {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 48px;
}

#urgentTask-container div {
    padding: 5px 10px 10px;
}

.taskdescription {
    font-size: 23px;
    line-height: 120%;
    font-weight: 400;
    margin-top: 13px;
}

.timestamp-container {
    padding: 23px;
    gap: 13px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--color-white);
    padding-left: 36px;
}

.ToDo-Container {
    background-color: var(--color-lightblue);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    width: 190px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    transition: 0.25s;
}

.ToDo-Container div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ToDo-Container div img {
    width: 76px;
    height: 76px;
    margin-right: 20px;
    margin-bottom: 7px;
}

.ToDo-Container div>span {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-black);
}

.ToDo-Container>span {
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    color: var(--color-blue);
}
/*Third Line*/
.third-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 35px;
    width: 100%;
    height: fit-content;
    margin-top: 35px;
   
   
}

.third-line div {
    display: flex;

    justify-content: center;
    align-items: center;
    
 width: 190px;
    height: 160px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    transition: 0.25s;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;

}

.card span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    padding-top: 7px;
    text-align: center;
    color: var(--color-blue);
    color: var(--color-blue);
    color: var(--color-blue);
}

.cardhead {
    border: none;
    box-shadow: none !important;
    box-shadow: none !important;
    box-shadow: none !important;

    padding: 0 !important;

}

.cardhead span {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin-left: 20px;
    color: var(--color-black);
}


.card:hover {
    cursor: pointer;
    border-top-left-radius: 0;
    color: var(--color-white);
    background-color: var(--color-blue);
    scale: 1.1;
}

.third-line div:hover span {
    color: var(--color-white);
}

.third-line div:hover img {
    border: 3px solid var(--color-white);
    border-radius: 50%;
}

#urgentTask-container:hover, .ToDo-Container:hover {
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-blue);
    border-top-left-radius: 0;
    scale: 1.1;
}
/*ANCHOR Legal Notice*/
.content-LegalNotice{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
  
    padding: 48px;
}
.content-LegalNotice h1{
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: var(--color-blue);
    padding-bottom: 65px; 
}
.content-LegalNotice h3{
    font-weight: 700;
font-size: 33px;
line-height: 120%;
color: var(--color-blue);
padding-top: 35px;
padding-bottom: 10px;
}

/*ANCHOR AddTask*/
.content-task{
    display: flex;
    justify-content: center;
    align-items: center;
    
width: 100%;
    
    flex-direction: row;
}
form{
    height: 100%;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    gap:27px;
    padding: 40px;
}
.left-Container{
    width: 100%;
    height: 100%;
   
    display: flex;
   
    flex-direction: column;

}
.right-Container{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
    width: 100%;
    height: 85vh;
    gap:30px;
    padding: 40px;
}

.input-title{
    outline: none;
   border: none;
    border-bottom: 1px solid var(--color-lightgrey);
    padding: 10px;
    font-weight: 400;
font-size: 30px;
line-height: 120%;
color: var(--color-lightgrey);
width: 320px;
}
h3{
    color:var(--color-darkblue);
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    padding-bottom: 5px;
}

select ,#subtask-input{
    outline: none;
    border: none;
     border-bottom: 1px solid var(--color-lightgrey);
     padding: 10px;
     font-weight: 400;
 font-size: 15px;
 line-height: 120%;
width:320px ;
 -moz-appearance:none;
 -webkit-appearance: none;

}
#employeeInput{
   background: transparent url(/img/down_icon.png);
   background-repeat: no-repeat;
   background-size: 10px;
 background-position: 95%;
}

#date-input{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-lightgrey);
    background:transparent url(/img/calendar_icon.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 95% 25%;
    width: 320px;
    padding-bottom: 5px;
     -webkit-calendar-picker-indicator:none;
    -moz-calendar-picker-indicator:none;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: var(--color-lightgrey);
}
#department-input{
 background: transparent url(/img/down_icon.png);
 background-size: 10px;
 background-repeat: no-repeat;
 background-position: 95%;
}

.priority-container{
    display: flex;
    gap:10px
}
.priority{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-lightgrey);
    padding: 8px 10px;
    border-radius: 8px;
    width:100px;
    gap: 10px;
    cursor: pointer;
}
.priority img{
    width: 15px;
    height: 10px;
}

.priority:nth-child(1):hover{
     box-shadow: 0 2px   1px var(--color-urgent);
}
.priority:nth-child(2):hover{
    box-shadow: 0 2px   1px var(--color-medium);
}
.priority:nth-child(3):hover{
    box-shadow: 0 2px   1px var(--color-low);
}
textarea{
    width: 320px;
    height: 80px;
    color: var(--color-lightgrey);
    padding: 10px;
}
#subtask-input{
    background: transparent url(/img/plus_Icon.png);
    background-repeat: no-repeat;
    background-size: 10px;
  background-position: 95%;
  color: var(--color-lightgrey);
}
.right-Container button{
    border-radius: 10px;
    padding: 10px 20px;
}
.right-Container button:nth-child(1){
    background-color: transparent;
    border: 1px solid var(--color-lightgrey);
    
}
.right-Container button:nth-child(2){
    background-color: var(--color-blue);
    border: none;
    color: var(--color-white);
}
.right-Container img{
    width: 12px;
    height: 12px;
    margin-left: 5px;
}
.right-Container button:nth-child(1):hover{
   cursor: pointer;
    border: 1px solid var(--color-blue);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) ;
}
.right-Container button:nth-child(2):hover{
    cursor: pointer;
    background-color: #1769f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) ;
}
