/* ANCHOR Header */
header {
	height: 80px !important;
	justify-content: space-between;
	padding: 0 15px;
	height: unset;
	position: fixed;
	top: 0;
}

header div:nth-child(1) img {
	width: 32px;
	height: 40px;
}

header div:nth-child(2) {
	display: none;
}

/* ANCHOR Navbar */
nav {
	position: fixed !important;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	width: 100%;
	flex-direction: row;
	padding: 0;
	z-index: 1;
}

nav ul {
	width: 100vw;
	height: unset;
	flex-direction: row;
	gap: unset;
	align-items: unset;
	justify-content: space-around;
}

nav ul li {
	width: unset;
	height: unset;
	font-size: 12px;
	padding: 0;
}

nav ul li img {
	margin: unset;
}

nav ul li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.LegalNotice {
	display: none;
}

/* ANCHOR global main tag */
main {
	position: fixed;
	top: 80px;
	height: calc(100vh - 80px);
}

/* ANCHOR Login HTML */
.sign_up {
	position: fixed;
	height: fit-content;
	top: unset;
	bottom: 40px;
	right: unset;
	width: 100%;
	justify-content: center;
}

.sign_up > * {
	min-width: fit-content;
}

.sign_up span {
	font-size: 17px;
	padding-right: 12px;
}

.sign_up button {
	padding: 0 20px;
}

.login_screen {
	width: 93%;
	height: 69%;
	padding: 20px 20px;
}

.login_form span {
	height: 40px;
	font-size: 28px;
	margin: 0px 0px 5px 0px;
}
.login_form {
	width: 100%;
}

.login_form input {
	font-size: 17px;
}

.login_form div {
	gap: 0;
}
.login_options {
	flex-direction: column-reverse;
	width: 100%;
	gap: 7px;
	font-size: 17px;
}
.login_buttons {
	flex-direction: column;
	gap: 10px 0;
	width: 100%;
}

.button_blue {
	padding: 0;
	height: 40px;
	font-size: 19px;
}

.button_clear {
	padding: 0;
	width: 100%;
	height: 40px;
	font-size: 19px;
}
#loading-page img {
	width: 50px;
}
.login_logo_blue {
	width: 50px;
}

@keyframes white-logo {
	100% {
		top: 50px;
		left: 50px;
		width: 50px;
	}
}

@keyframes blue-logo {
	100% {
		top: 50px;
		left: 50px;
		width: 50px;
	}
}

/* ANCHOR Summary HTML */
.main-summary {
	position: fixed;
	top: 80px;
	height: calc(100vh - 80px);
}

.nav-summary {
	top: unset;
}

.section-summary {
	position: fixed;
	top: 80px;
	left: unset;
	height: calc(100vh - 80px - 80px);
	width: 100%;
	overflow: auto;
}

.full-height-width {
	height: 90%;
}

.first-line {
	font-size: 1.7rem;
}

#urgentTask-container {
	height: 120px;
}

#urgentTask-container .icons {
	font-size: 40px;
}
#urgentTask-container img {
	width: 57px;
	margin-right: 1px;
}

#urgentTask-container div {
	padding: 0px 14px;
}

.third-line div {
	height: 140px;
}

.third-line {
	padding-bottom: 22px;
	width: 100%;
	gap: 20px;
}

.timestamp-container span {
	font-size: 18px;
	margin: 0;
}

.ToDo-Container > span {
	font-size: 18px;
}

.timestamp-container {
	gap: 0;
}

.taskdescription {
	font-size: 16px;
	font-weight: bold;
}

.ToDo-Container {
	flex-direction: unset;
	height: 100px;
	justify-content: space-around;
}

.ToDo-Container div > span {
	font-size: 40px;
}

.card span {
	font-size: 16px;
	font-weight: bold;
}

.cardhead span {
	font-size: 40px;
}

/* ANCHOR Board HTML */
.section-board {
	position: fixed;
	left: unset;
	overflow: hidden;
	z-index: 10;
}

.bord-search-container {
	position: fixed;
	top: 40px;
	transform: translate(0, -50%);
	width: unset;
	right: 12px;
	margin-bottom: 0;
}

.bord-search-container span {
	display: none;
}

.bord-tasks-container {
	width: 100%;
	height: unset;
}

.bord-tasks {
	position: fixed;
	top: 80px;
	height: calc(100vh - 80px - 80px) !important;
	overflow-y: scroll;
	flex-direction: column;
}

.bord-tasks-container-location {
	width: calc(100vw - 50px);
}

/* ANCHOR Header - only for task.html */
.header-task {
	background-color: white;
	z-index: 10;
}

.user-icon {
	display: none;
}

.header-task div:nth-child(2) span {
	display: none;
}

.header-task div:nth-child(1) img {
	content: url("../../img/icon_blue.png");
}

/*ANCHOR task.html */
.main-task {
	position: fixed;
	top: 84px;
	height: calc(100vh - 84px);
	z-index: 11;
}

.section-task {
	height: calc(100vh - (2 * 80px)) !important;
	position: absolute;
	top: 0;
}

.left-Container-task {
	height: 100%;
	width: 100%;
	min-width: unset;
}

.left-Container-task > * {
	padding: 0;
}

#TaskForm {
	height: 100%;
	padding: 0;
}

#task_responsive_right-Container {
	top: 36px;
	transform: translate(0, -50%);
}

#task_responsive_right-Container button:nth-child(2) {
	background-color: var(--color-blue);
	color: var(--color-white);
	display: flex;
	align-items: center;
}

#task_responsive_right-Container button:nth-child(2) img {
	display: block;
	margin-left: 12px;
}

.right-Container-task {
	top: 20px;
}

.right-Container-task button:nth-child(2) {
	background-color: var(--color-blue) !important;
	color: var(--color-white) !important;
}

/* ANCHOR contact.html */
/* header */
.user-icon {
	display: none;
}

.content-contact {
	height: calc(100vh - 72.2px - 80px);
	position: absolute;
	top: 0px;
}

#contact-list {
	width: 100%;
	height: 100%;
	padding-bottom: 0;
}

.contact-btn {
	top: 50%;
}

.new-content-form input {
	width: 340px;
}

.new-contact-buttons button:nth-child(1),
.new-contact-buttons button:nth-child(2) {
	font-size: 20px;
	height: 45px;
}

/* ANCHOR contact informations */
.contact-right-container {
	left: 0;
}

#contact-informations {
	margin: 0;
}

#contact-informations.active {
	padding: 0 20px;
	padding-top: 80px;
	position: relative;
	top: 80px;
	height: calc(100vh - 80px - 80px);
}

.contact-img {
	width: 60px;
}

.contact-header span:nth-child(1) {
	font-size: 26px;
}

.close_contact_info_tablet.active {
	position: relative;
}

.close_contact_info_tablet img {
	height: 16px;
	content: url(../../img/back_arrow_blue.png);
}

.contact-mid div {
	background-color: var(--color-blue);
	width: 40px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 12px;
	bottom: 96px;
}
.contact-mid div span {
	display: none;
}

.contact-mid img {
	content: url(../../img/pencil_white.png);
	margin: 0;
}

/* add new task in contact.html */
.close-icon-contact {
	padding: 0;
	position: absolute;
	right: 12px;
	top: 12px;
	width: unset;
}
.newTask-contact {
	top: 80px;
	height: calc(100vh - 80px);
	width: 100vw;
	border-radius: 8px;
	right: -650px;
}

#overlay.open {
	display: none;
}

.addTask_contact {
	right: -150px;
	transition: right ease-in-out 225ms;
	display: unset;
	position: fixed;
	top: 40px;
	transform: translate(0, -50%);
	background-color: var(--color-white) !important;
	color: var(--color-blue) !important;
	width: 128px !important;
}

.addTask_contact.open {
	right: 21px;
}

.addTask_contact img {
	display: none;
}

/* The id of the form. */
.myForm-contact {
	margin-top: 12px;
}

.form-head-contact {
	width: fit-content;
	justify-content: flex-start;
}

.form-head-contact h3 {
	padding: 0;
}

.taskForm-in-ontact {
	overflow-y: auto;
}
