#contact-list {
    position: absolute;
    left: 196px;
    top: 97.3px;
    bottom: 0;
    width: 453px;
    overflow-y: auto;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    padding: 20px 48px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(193, 192, 192);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
}

.contact-lettercompartment>span {
    margin-left: 37px;
}

.contact-lettercompartment span {
    font-size: 19px;
}

.listed-contact {
    width: 100%;
    padding: 0 37px;
    display: flex;
    align-items: center;
}

.listed-contact:hover {
    cursor: pointer;
    background-color: #4589ff57;
    ;
    border-radius: 10px;
}

.listed-contact img {
    width: 42px;
    height: 42px;
}

.listed-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
    height: 77px;
}

.contact-list-mail {
    font-size: 16px !important;
    color: var(--color-blue);
}

.contact-lettercompartment hr {
    margin: 22px 0;
}



#contact-informations {
    position: absolute;
    top: 156px;
    left: 696px;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

.contact-header {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.contact-img {
    width: 120px;
    margin-right: 54px;
}

.contact-header span:nth-child(1) {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 18px;
}

.addtask-box {
    display: flex;
    align-items: center;
    width: 128;
    color: var(--color-blue);
}

.addtask-box img {
    width: 15px;
    height: 15px;
}

.addtask-box span {
    margin-left: 15px;
}

.contact-mid {
    display: flex;
    align-items: flex-end;
    margin-bottom: 23px;
}

.contact-mid span:nth-child(1) {
    font-size: 23px;
    font-weight: 700;
    margin-right: 60px;
}

.contact-mid img {
    height: 30px;
}

.contact-mail, .contact-number {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 22px;
    font-size: 16px;
}

.contact-mail span:nth-child(1), .contact-number span:nth-child(1) {
    font-weight: 700;

}

.contact-mail span:nth-child(2), .contact-number span:nth-child(2) {
    font-weight: 400;
}

.contact-mail span:nth-child(2) {
    color: var(--color-blue);
}

.add-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 48px;
    bottom: 64px;
    width: 197px;
    padding: 18px 10px;
}

.button-blue {
    height: 61px;
    border-radius: 8px;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 23px;
    border: none;
    padding: 18px 10px;
    transition: background-color 225ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-blue:hover {
    background-color: #2b69d5;
    cursor: pointer;
}

.button-clear {
    padding: 18px 10px;
    height: 61px;
    background: none;
    color: var(--color-black);
    text-align: center;
    font-size: 23px;
    border: 1px solid #647188;
    border-radius: 8px;
    transition: all 225ms ease-in-out;
    transition-property: color, border-width;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-clear:hover {
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
    box-shadow: 1px 4px 15px -5px rgba(0,0,0,0.75);
    cursor: pointer;
}

#new-contact {
    background-color: #2b69d5 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    z-index: 50;
    transition: width 0.3s ease-in-out;
    border-radius: 30px;
    border-top-left-radius: 0;
}

#new-contact.open {
    width: 580px;
    background-color: #2b69d5 !important;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 49;
    background-color: rgba(255, 255, 255, 0.487);
    display: none;
}

#overlay.open {
    display: unset;
}

#new-contact-content {
    opacity: 0;
    position: relative;
    transition: opacity 0.2s ease;
}

#new-contact-content.open {
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.cross-icon {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 541.31px;
    top: 21px;
    cursor: pointer;
}

.contact-join-icon {
    width: 55.12px;
    height: 66.48px;
}

.content-header {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-body {
    background-color: #FFFFFF;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}

.content-body-profileIMG {
    margin-bottom: 35px;
}

.new-content-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: unset;
    bottom: unset;
    overflow: unset;
    height: unset;
    width: unset;
    gap: unset;
}

.new-content-form input {
    width: 422px !important;
    height: 49px !important;
    border: 0;
    border-bottom: 1px solid #D1D1D1;
    padding: 13px 21px;
    margin-bottom: 49px;
}

.new-contact-buttons {
    display: flex;
    gap: 25px;
}