::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(193, 192, 192);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128);
}

.contact-lettercompartment > span {
  margin-left: 37px;
}

.contact-lettercompartment span {
  font-size: 19px;
}

.contact-lettercompartment hr {
  margin: 22px 0;
}

.contact-header {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.contact-img {
  width: 120px;
  margin-right: 54px;
}

.contact-header span:nth-child(1) {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 18px;
}

.addtask-box img {
  width: 15px;
  height: 15px;
}

.addtask-box span {
  margin-left: 15px;
}

.contact-mid {
  display: flex;
  align-items: flex-end;
  margin-bottom: 23px;
}

.contact-mid span:nth-child(1) {
  font-size: 23px;
  font-weight: 700;
  margin-right: 60px;
}

.contact-mid img {
  height: 30px;
}

.contact-mail,
.contact-number {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 22px;
  font-size: 16px;
}

.contact-mail span:nth-child(1),
.contact-number span:nth-child(1) {
  font-weight: 700;
}

.contact-mail span:nth-child(2),
.contact-number span:nth-child(2) {
  font-weight: 400;
}

.contact-mail span:nth-child(2) {
  color: var(--color-blue);
}

/* ANCHOR new contact window */
