.cross-icon-task {
	position: absolute;
	top: 16px;
	left: 16px;
	cursor: pointer;
	z-index: 51;
	display: none;
}

.cross-icon-task.open {
	display: unset;
}

#add-task {
	background-color: white !important;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100vh;
	z-index: 50;
	transition: width 0.3s ease-in-out;
	border-radius: 30px;
	border-top-right-radius: 0;
}

#new-task-content {
	height: 100%;
}

#add-task.open {
	width: 580px;
}

.content-task {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

#TaskForm {
	flex-direction: column;
	padding-top: 50px;
	overflow-y: auto;
	height: unset !important;
	width: unset !important;
	position: unset !important;
}

.left-Container {
	padding: unset;
	justify-content: center;
	align-items: center;
}

.right-Container {
	padding: unset;
	justify-content: center;
	align-items: center;
}
