/* header */
.user-icon {
	display: none;
}

/* contact.html */
.content-contact {
	position: absolute;
	top: 0px;
}

#contact-list {
	width: 100%;
	min-width: unset;
	box-shadow: unset;
	height: calc(100% - 80px);
	padding-bottom: 0;
}

.contact-btn {
	top: 50%;
}
