/* header */
.user-icon {
	display: none;
}

/* contact.html */
.content-contact {
	height: calc(100vh - 72.2px - 80px);
	position: absolute;
	top: 0px;
}

#contact-list {
	width: 100%;
	height: 100%;
	padding-bottom: 0;
}

.contact-btn {
	top: 50%;
}

.new-content-form input {
	width: 340px;
}

.new-contact-buttons button:nth-child(1),
.new-contact-buttons button:nth-child(2) {
	font-size: 20px;
	height: 45px;
}

/* ANCHOR contact informations */
.contact-right-container {
	left: 0;
}

#contact-informations.active {
	margin: 0;
	padding: 0, 20px;
	padding-top: 80px;
	position: relative;
	top: 80px;
	height: calc(100vh - 83px - 80px);
}

.contact-img {
	width: 60px;
}

.contact-header span:nth-child(1) {
	font-size: 26px;
}

.close_contact_info_tablet.active {
	position: relative;
}

.close_contact_info_tablet img {
	height: 16px;
	content: url(../../img/back_arrow_blue.png);
}

.contact-mid div {
	background-color: var(--color-blue);
	width: 40px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 12px;
	bottom: 96px;
}
.contact-mid div span {
	display: none;
}

.contact-mid img {
	content: url(../../img/pencil_white.png);
}

/* add new task in contact.html */
.newTask {
	top: 80px;
	height: calc(100vh - 80px);
	width: 100vw;
	border-radius: 8px;
	right: -650px;
}

#overlay.open {
	display: none;
}

.AddButton {
	right: -150px;
	transition: right ease-in-out 225ms;
	display: unset;
	position: fixed;
	top: 40px;
	transform: translate(0, -50%);
	background-color: var(--color-white) !important;
	color: var(--color-blue) !important;
	width: 128px !important;
}

.AddButton.open {
	right: 21px;
}

.AddButton img {
	display: none;
}

.close-icon {
	padding: 0;
	position: absolute;
	right: 12px;
	top: 12px;
	width: unset;
}

#myForm {
	margin-top: 12px;
}

.form-head {
	width: fit-content;
	justify-content: flex-start;
}

.form-head h3 {
	padding: 0;
}

#TaskForm {
	overflow-y: auto;
}
