.contact-btn {
	justify-content: unset;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0;
}

.content-contact {
	position: absolute;
	top: 0px;
}

#contact-list {
	width: 100%;
	min-width: unset;
	box-shadow: unset;
}

.contact-right-container {
	display: none;
}
