nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	width: 100%;
	flex-direction: row;
	padding: 0;
	z-index: 1;
}

nav ul {
	width: 100vw;
	height: unset;
	flex-direction: row;
	gap: unset;
	align-items: unset;
	justify-content: space-around;
}

nav ul li {
	flex-direction: column;
	justify-content: center;
	width: unset;
	height: unset;
	font-size: 12px;
	padding: 0;
}

nav ul li img {
	margin: unset;
}

nav ul li a {
	font-size: 14px;
}

.LegalNotice {
	display: none;
}
