/* Header - only for task.html */
header {
	background-color: white;
	z-index: 10;
}

.user-icon {
	display: none;
}

header div:nth-child(2) span {
	display: none;
}

header div:nth-child(1) img {
	content: url("../../img/icon_blue.png");
}

/* task.html */
#TaskForm {
	height: calc(100vh - 80px - 80px);
	padding: 0;
}

.right-Container {
	top: 36px;
	transform: translate(0, -50%);
}

.right-Container button:nth-child(2) {
	background-color: var(--color-blue);
	color: var(--color-white);
	display: flex;
	align-items: center;
}

.right-Container button:nth-child(2) img {
	display: block;
	margin-left: 12px;
}
