nav {
	justify-content: flex-start;
}

nav ul {
	margin-top: 18px;
}

nav div {
	padding: 0;
	height: unset;
	position: absolute;
	bottom: 18px;
}

@media (max-height: 400px) {
	nav div {
		display: none !important;
	}
}
