#TaskForm {
	position: absolute;
	top: 0;
	bottom: 80px;
	padding-bottom: 8px;
	height: calc(100vh - 97.3px);
	flex-direction: column-reverse;
}

.left-Container {
	padding: 0;
	align-items: center;
	overflow-y: auto;
}

.right-Container {
	position: fixed;
	top: 30px;
	right: 16px;
	gap: unset;
	padding: 0;
	height: unset;
	width: unset;
	z-index: 11;
}

#clear-btn {
	display: none;
}

.right-Container button:nth-child(2) {
	background-color: var(--color-white);
	color: var(--color-blue);
}

.right-Container button:nth-child(2) img {
	display: none;
}
